<% extend("../app.ejs") %>
  <section class="">
    <div class="" style="display: flex; justify-content: center;">
      <div class="row justify-content-between" style="width: 90%;">
        <div class="">
          <div class="homepage-logo mt-2">
            <img src="https://nhakhoadongnam.com/wp-content/uploads/2021/03/Nha-khoa-dong-nam-thong-bao-doi-logo-2.png"
              alt="logo" />
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center" style="padding-right: 0px;">
          <span
            style="padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; background-color: #3cbec9; color: #FFF;"
            title="Have questions?"><a href="/login" target="_blank" class="text-decoration-none"
              style="color: #FFF;">Đăng nhập</a></span>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-header d-flex flex-column">
    <div class="img-header d-flex flex-column">
      <div class="header-search align-self-center justify-content-center" style="margin-top: 120px;">
        <i class="fa fa-search" style="color: #FFF;"></i>
        <label for="input-search"></label>
        <input id="input-search" placeholder="Tìm thông tin..." />
        <div id="show-info-search" class="show-info-search"></div>
      </div>
    </div>
    <div class="content-header d-flex justify-content-between title-and-icon align-items-center">
      <div class="d-flex flex-column ml-5 pl-5 align-items-center">
        <i class="fa fa-check"></i>
        <span>Chuyên nghiệp</span>
      </div>
      <div class="d-flex flex-column align-items-center">
        <i class="fa fa-thumbs-up"></i>
        <span>Đáng tin cậy</span>
      </div>
      <div class="d-flex flex-column align-items-center">
        <i class="fa fa-user-md"></i>
        <span>Bác sĩ giỏi</span>
      </div>
      <div class="d-flex flex-column mr-5 pr-5 align-items-center">
        <i class="fa fa-clock-o"></i>
        <span>Phản hồi nhanh</span>
      </div>
    </div>
  </section>
  <section class="sec-fields-hospital d-flex flex-column">
    <div class="sec-fields-title mx-auto d-flex my-3">
      <h2 class="">Dịch vụ phổ biến</h2>
      <a class="flex-grow-1 my-auto"><span class="d-block show-all-specializations">Tất cả dịch vụ</span></a>
    </div>
    <div class="section-slide">
      <div class="slider slider-nav text-decoration-none">
        <% specializations.forEach(function(x) { %>
          <a href="/detail/specialization/<%= x.id %>" class="a-specialization text-decoration-none"
            style="outline: none">
            <div class="d-flex flex-column slide-fields specialization" data-specialization="<%= x.id %>">
              <img style="object-fit: cover" src="/images/specializations/<%= x.image %>" alt="image bla bla" />
              <h3 class="text-decoration-none">
                <%= x.name %>
              </h3>
            </div>
          </a>
          <% }) %>
      </div>
    </div>
  </section>
  <section class="sec-hospitals">
    <div class="sec-fields-title mx-auto d-flex my-3">
      <h2 class="">Các chi nhánh</h2>
      <a class="flex-grow-1 my-auto"><span class="d-block show-all-clinics">Tất cả chi nhánh</span></a>
    </div>
    <div class="section-slide">
      <div class="slider slider-nav text-decoration-none">
        <% clinics.forEach(function(clinic) { %>
          <a href="/detail/clinic/<%= clinic.id %>" class="text-decoration-none" style="outline: none">
            <div class="d-flex flex-column slide-fields clinics" data-clinic="<%= clinic.id %>">
              <img style="object-fit: cover" src="/images/clinics/<%= clinic.image %>" alt="image bla bla" />
              <h3>
                <%= clinic.name %>
              </h3>
            </div>
          </a>
          <% }) %>
      </div>
    </div>
  </section>
  <section class="sec-doctors">
    <div class="sec-fields-title mx-auto d-flex my-3">
      <h2 class="">Bác sĩ tiêu biểu</h2>
      <a class="flex-grow-1 my-auto"><span class="d-block show-all-doctors">Tất cả bác sĩ</span></a>
    </div>
    <div class="section-slide">
      <div class="slider slider-nav text-decoration-none">
        <% doctors.forEach(function(doctor) { %>
          <a href="/detail/doctor/<%= doctor.id %>" class="text-decoration-none" style="outline: none">
            <div class="slide-doctors text-decoration-none">
              <div class="doctor-avatar" style="padding-top: 20px; padding-bottom: 20px;">
                <img style="object-fit: cover" src="/images/users/<%= doctor.avatar %>" alt="image bla bla" />
                <h3 style="color: black">
                  <%= doctor.name %>
                </h3>
                <h4 style="color: black">
                  <%= doctor.getDataValue('specializationName') %>
                </h4>
                <span title="Counting the number of patients have been booked" style="color: #0056b3">
                  <%= doctor.getDataValue('countBooking') %> bệnh nhân (đã đặt lịch)
                </span>
              </div>
            </div>
          </a>
          <% }) %>
      </div>
    </div>
  </section>

  <section class="sec-for-doctors">
    <div class="d-flex flex-row mx-auto main-for-doctors">
      <div class="d-flex flex-column col-5">
        <h1 class="mt-4">Tuyển dụng</h1>
        <span class="mt-3 mb-1">Tham gia vào đội ngũ Bác sĩ tài năng tại Nha khoa Đông Nam</span>
        <span></span>
        <a href="/contact" class="mt-5 pd-3 contact-admin text-decoration-none">Liên hệ chúng tôi</a>
      </div>
      <div class="col-7 d-flex justify-content-end" style="padding-top: 5px">
        <iframe width="500" height="290" src="https://www.youtube.com/embed/hxzS0krEJGw" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <!-- Modal show izations-->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="modalAllSpecializations">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tất cả dịch vụ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row all-specializations-body px-2">
            <% specializations.forEach(function(x) { %>
              <div class="col-12 col-spe pl-3">
                <a href="/detail/specialization/<%= x.id %>" class="text-decoration-none">
                  <%= x.name %>
                </a>
              </div>
              <% }) %>
                <div class="col-12 col-spe pl-3">
                  <a href="/all-specializations" class="text-decoration-none">View all</a>
                </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btn-confirm-booking-spe" data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal show Tất cả chi nhánh-->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="modalAllClinics">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tất cả chi nhánh</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row all-specializations-body px-2">
            <% clinics.forEach(function(x) { %>
              <div class="col-12 col-spe pl-3">
                <a href="/detail/clinic/<%= x.id %>" class="text-decoration-none">
                  <%= x.name %>
                </a>
              </div>
              <% }) %>
                <div class="col-12 col-spe pl-3">
                  <a href="/all-clinics" class="text-decoration-none">View all</a>
                </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btn-confirm-booking-spe" data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal show all doctors-->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="modalAllDoctors">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tất cả Bác sĩ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row all-doctors-body px-2">
            <% doctors.forEach(function(x) { %>
              <div class="col-12 col-spe pl-3">
                <a href="/detail/doctor/<%= x.id %>" class="text-decoration-none">
                  <%= x.name %>
                </a>
              </div>
              <% }) %>
          </div>
          <div class="row all-doctors-body px-2">
            <div class="col-12 col-spe pl-3">
              <a href="/all-doctors %>" class="text-decoration-none">View all</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btn-confirm-booking-spe" data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>